
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />*@
</head>
<body class="container">
    <img src="~/images/UR_Logo.png" class="logo" alt="logo"/>
    @*<img src="~/StaticFiles/RizTech_Logo.png" class="logo2" alt="logo"/>*@

    <input type="button" value="Click me" class="btn btn-primary"/>
    <h1 class="h1">Welcome to Book Store Appliction</h1>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>
